/* ==UserStyle==
@name         AniList custom css
@namespace    github.com/acholthitchanta/anilist-custom-css
@version      1.0
@description  custom theme for AniList
@author       acholthitchanta
@homepageURL  https://github.com/acholthitchanta/anilist-custom-css
@supportURL   https://github.com/acholthitchanta/anilist-custom-css/issues
@updateURL    https://github.com/acholthitchanta/anilist-custom-css/raw/main/anilist-custom-css.user.css
==/UserStyle== */

/* Background image (change the URL to change the image) */
body {
    background: rgb(var(--color-background)) url("BACKGROUND IMAGE URL HERE") center/100% fixed;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

/* name tag */
.name[data-v-4f7beb35]::after {
    content: "boba enjoyer";
    position: relative;
    top: -3px;
    left: 10px;
    background: rgb(124, 165, 207);
    border-radius: 4px;
    color: rgba(255, 255, 255);
    padding: 5px 5px;
    margin-bottom: 20px;
    margin-right: 16px;
    font-size: 1.2rem;
    animation: rainbow 10s infinite linear;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: none;
      animation-play-state: running;
      animation-name: rainbow;
}

/* avatar animation */
.avatar:hover {
    transition: 0.5s;
    transform: scale(1.1);
    transform-style: preserve-3d;
}

/* name animation */
.name:hover {
    transition: 0.5s;
    transform: scale(1.1);
    transform-style: preserve-3d;
}

/* favorites animation */
.favourite:hover {
    transition: 0s;
    transform: scale(1.2);
    transform-style: preserve-3d;
}
/* color scheme */

.site-theme-dark {
    --color-background: 28, 32, 38;
    --color-foreground: 23,26,28, 0.8;
    --color-foreground-blue: 23, 26, 28;
    --color-background-100: 20,22,24;
    --color-background-200: 17,19,20;
    --color-foreground-grey: 20,22,24;
    --color-foreground-grey-dark: 17,19,20;
    --color-text: 255, 255, 255;
    --color-text-light: 255, 255, 255;
    --color-text-lighter: 255, 255, 255;
    --color-shadow-blue: 0,0,0;
    --color-background-1200: 251,251,251;
    --color-background-1100: 240,243,246;
    --color-background-1000: 230,235,240;
    --color-background-900: 206,216,224;
    --color-background-800: 184,198,212;
    --color-background-700: 150,165,179;
    --color-background-600: 122,139,153;
    --color-background-500: 111,124,135;
    --color-background-400: 88,99,110;
    --color-background-300: 43,48,54;
    --color-background-100: 35,38,43;
    --color-background-200: 23,26,28;
    --color-grey-1200: 251,251,251;
    --color-grey-1100: 240,243,246;
    --color-grey-1000: 230,235,240;
    --color-grey-900: 206,216,224;
    --color-grey-800: 184,198,212;
    --color-grey-700: 150,165,179;
    --color-grey-600: 122,139,153;
    --color-grey-500: 111,124,135;
    --color-grey-400: 88,99,110;
    --color-grey-300: 43,48,54;
    --color-grey-100: 20,22,24;
    --color-grey-200: 23,26,28;
}

/* header option colors */
.site-theme-dark .nav-unscoped.transparent {
    background: rgba(23, 26, 28,.5);
}

.site-theme-dark .nav-unscoped.transparent:hover {
    background: rgba(23, 26, 28);
}    

/* stat value font */
.stat .value[data-v-815ccddc] {
    font-family: Nunito, Roboto;
    font-size: 1.5rem;
}

.stat .label[data-v-815ccddc] {
    color: white;
}

.name {
    color: white;
}

.markdown .markdown-spoiler.spoiler-visible .hide-spoiler, .markdown .markdown- spoiler.spoiler-visible span {
    background: rgba(0, 0, 0, 0);
}

/* anilist home button logo (change the URL to change the image) */
.logo img[data-v-4fbac4e1] {
    content: url("https://i.postimg.cc/gJ9pGtVz/sushi.png");
}

/* site fonts */
html, body {
    font-family: Rubik, Ubuntu, Heebo, Roboto, sans-serif !important;
    color: white;
}

/* long bio */
.about .content-wrap[data-v-5c30286e] {
    max-height: 2000px;
    max-width: 700px;
    overflow: shown;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.nav .link[data-v-4f7beb35] {
    color: white;
    display: inline-block;
    margin: 0 10px;
    padding: 15px;
}

.nav[data-v-4f7beb35] {
    font-size: 1.4rem;
    color: rgba(255, 255, 255);
    max-width: 1220px;
    text-align: center;
}

.overview[data-v-5c30286e] .content-wrap {
    background: rgb(var(--color-foreground));
    border-radius: 5px;
    font-size: 1.4rem;
    margin-bottom: 25px;
    padding: 20px;
}

.overview .wrap, .overview .content-wrap, .activity-replies > .reply {
    border: 2px solid rgb(77, 99, 125);
    border-radius: 5px;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(61,180,242);
    border-radius: 15px;
    width: 5px;
}

body::-webkit-scrollbar-track {
    background-color: rgba(22, 27, 33);
    width: 5px;
}

/* font colors */
h1, h2 {
    color: white;
}

.header-wrap, .list-stats, .load-more, .stat .label, .time, .actions, textarea, .section-header {
    font-family: Overpass, "Noto Sans" !important;
    color: white;
}
